/*name and title*/
body {
  width: 21cm;
  height: 29.7cm;
  padding: 0cm;
  margin: 1cm auto;
  border: 1.5px #d3d3d3 solid;
  background: white;
  position: relative;
  font-family: "Signika Negative", sans-serif;
}

.top {
  background: rgb(255, 255, 255);
  width: 21cm;
  height: 10%;
  padding: 0px;
  margin: 0px;
  text-align: right;
}

.texttop {
  padding: 5px 20px 0px 0px;
  position: relative;
}

.texttop h4 {
  padding: 10px 0px 5px 0px;
  margin: 0px 0px 5px 0px;
}

.texttop h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 3px;
  background: black;
  bottom: 83px;
  left: 330px;
}

.texttop h1 {
  font-size: 45px;
  padding: 5px 0px 5px 0px;
  margin: 0px 0px 15px 0px;
}

/* information wrap, whatsapp, mail, location   */

.info-wrap {
  width: 21cm;
  height: 10%;
  background: rgb(249, 215, 61);
  padding: 5px 0px 5px 0px;
  margin: 0px 0px 0px 0px;
}

.photo {
  padding: 0px 0px 00px 60px;
  position: absolute;
  left: -20px;
  top: 100px;
}

.photo img {
  width: 160px;
  height: 160px;
  border-radius: 100px;
  border: 1px solid rgb(44, 43, 43);
}

.photo h2 {
  background: rgb(249, 215, 61);
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  position: absolute;
  left: 125px;
  top: 110px;
  font-size: 45px;
  border: 1px solid rgb(44, 43, 43);
}

.icon-watshapp {
  position: absolute;
  left: 300px;
  top: 125px;
}

.icon-gmail {
  position: absolute;
  left: 300px;
  top: 165px;
  text-align: center;
}
.icon-location {
  position: absolute;
  left: 300px;
  top: 205px;
}

.icon-call {
  position: absolute;
  left: 550px;
  top: 125px;
}

.icon-github {
  position: absolute;
  left: 550px;
  top: 165px;
}

.info-wrap img {
  width: 20px;
}

.info-wrap a {
  color: rgb(79, 79, 79);
  cursor: pointer;
  text-decoration: none;
}

/*<!-- resume,education,objetive,skills conteiner -->*/

.information {
  background: rgb(79, 79, 79);
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
}

.resume {
  background: rgb(79, 79, 79);
  width: 9cm;
  height: 100%;
}

.p-presentation {
  text-align: center;
  padding: 10px 0px 0px 0px;
  margin: 50px 10px 0px 10px;
  color: rgb(242, 242, 243);
}
/*container Languages*/

.idioms {
  padding: 10px 0px 0px 10px;
  margin: 30px 0px 0px 10px;
  color: rgb(242, 242, 243);

  font-size: 20px;
}

.star {
  width: 16.5px;
  height: 16.5px;
  stroke: rgb(44, 43, 43);
  fill: gold;
  margin: 0px 7px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.circle-lenguajes {
  width: 13px;
  height: 13px;
  fill: rgb(249, 215, 61);
  border: 1px solid rgb(44, 43, 43);
  margin: 0px 0px 0px 2px;
  padding: 0px 0px 0px 0px;
  border-radius: 10px;
}

.circle-lenguajesblack {
  width: 13px;
  height: 13px;
  fill: rgb(140, 140, 140);
  border: 1px solid rgb(44, 43, 43);
  margin: 0px 0px 0px 2px;
  padding: 0px 0px 0px 0px;
  border-radius: 10px;
}
/*container skills*/
.container {
  width: 100%;
  height: 30%;
  padding: 20px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.section-title h2 {
  font-weight: bold;
  padding: 0px 0px 0px 0px;
  margin: 20px 0px 0px 30px;
  position: relative;
  color: rgb(242, 242, 243);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: rgb(249, 215, 61);
  bottom: 0px;
  left: 0px;
}

.skills-content {
  padding: 0px 0px 0px 10px;
  margin: 0px 0px 0px 0px;
}

.skill-ima {
  width: 30px;
  height: 23px;
}

.flexx-skills {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 100px;
  padding: 20px 5px 0px 0px;
  margin: 0px 0px 0px 10px;
}

/*container Education*/
.h2-education {
  padding: 40px 0px 0px 0px;
  margin: 0px 0px 0px 45px;
  color: rgb(242, 242, 243);
}

.educationtext1 {
  width: auto;
  height: auto;
  text-align: auto;
  padding: 0px 0px 0px 20px;
  margin: 0px 0px 0px 20px;
  border-left: 4px solid rgb(249, 215, 61);
}

.educationtext2 {
  width: auto;
  height: auto;
  text-align: auto;
  padding: 0px 0px 0px 20px;
  margin: 0px 0px 0px 20px;
  border-left: 4px solid rgb(249, 215, 61);
}
.resume h3 {
  text-align: left;
  color: rgb(242, 242, 243);
  padding: 0px 0px 0px 0px;
  margin: 15px 10px 0px 0px;
}

.p-education {
  text-align: left;
  color: rgb(242, 242, 243);
  padding: 0px 10px 0px 0px;
  margin: 0px 10px 0px 0px;
}

/*container certification and experiences*/

/*container certification*/
.cer-exp {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Certifications {
  background: rgb(242, 242, 243);
  width: 100%;
  height: 50%;
  padding: 0px 0px 0px 0px;
}

.Certifications h4 {
  margin: 0px 0px 20px 0px;
}

.Certifications-text1 {
  width: 100%;
  height: auto;
  padding: 0px 0px 0px 20px;
  margin: 0px 0px 0px 30px;
  border-left: 2px solid rgb(79, 79, 79);
  position: relative;
  display: flex;
  flex-direction: row;
}
.Certifications-text11 {
  width: auto;
  height: auto;
  text-align: auto;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 20px 30px;
}
.circle-fill1 {
  width: 16px;
  height: 16px;
  stroke: black;
  fill: rgb(249, 215, 61);
  margin: 0 px;
  padding: 0 px;
  position: absolute;
  left: -10px;
  top: -2px;
  border-radius: 100px;
}

.Certifications-text2 {
  width: 100%;
  height: auto;
  padding: 0px 0px 0px 20px;
  margin: 0px 0px 0px 30px;
  border-left: 2px solid rgb(79, 79, 79);
  position: relative;
  display: flex;
  flex-direction: row;
}
.Certifications-text22 {
  width: auto;
  height: auto;
  text-align: auto;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 20px 30px;
}
.circle-fill2 {
  width: 16px;
  height: 16px;
  stroke: black;
  fill: rgb(249, 215, 61);
  margin: 0 px;
  padding: 0 px;
  position: absolute;
  left: -10px;
  top: -2px;
  border-radius: 100px;
}

.Certifications-text3 {
  width: 100%;
  height: auto;
  padding: 0px 0px 0px 20px;
  margin: 0px 0px 0px 30px;
  border-left: 2px solid rgb(79, 79, 79);
  position: relative;
  display: flex;
  flex-direction: row;
}

.Certifications-text33 {
  width: auto;
  height: auto;
  text-align: auto;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 20px 30px;
}

.circle-fill3 {
  width: 16px;
  height: 16px;
  stroke: black;
  fill: rgb(249, 215, 61);
  margin: 0 px;
  padding: 0 px;
  position: absolute;
  left: -10px;
  top: -2px;
  border-radius: 100px;
}

/*container experience*/
.experience {
  background: rgb(255, 255, 255);
  width: 100%;
  height: 60%;
  padding: 00px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  border: 1.5px #d3d3d3 solid;
}

.experience-text1 {
  width: auto;
  height: auto;
  text-align: auto;
  padding: 0px 30px 0px 30px;
  margin: 0px 0px 0px 30px;
  border-left: 4px solid rgb(249, 215, 61);
}

.experience-text2 {
  width: auto;
  height: auto;
  text-align: auto;
  padding: 0px 30px 0px 30px;
  margin: 0px 0px 0px 30px;
  border-left: 4px solid rgb(249, 215, 61);
}

.experience p {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 20px 0px;
  color: rgb(79, 79, 79);
}

.experience h3 {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
